.pig {
    width: 100px;
    height: 50px;
}

.pig-head {
    background-color: rgb(232, 76, 154);
    height: 10px;
    width: 10px;
    position: relative;
    z-index: 1;
}

.pig-head-eye {
    background-color: white;
    height: 3px;
    width: 3px;
    position: absolute;
}

.pig-head-eye-right {
    background-color: white;
    height: 3px;
    width: 3px;
    left: 5px;
    position: absolute;
}

.eye-pupil {
    background-color: black;
    height: 1px;
    width: 1px;
    top: 1px;
    left: 1px;
    position: absolute;
}

.nose {
    width: 5px;
    height: 3px;
    background-color: rgb(231, 161, 41);
    left: 2px;
    top: 4px;
    position: absolute;
}

.nostril-left {
    width: 1px;
    height: 1px;
    background-color: rgb(249, 29, 147);
    position: absolute;
    top: 2px;
    left: 1px;
}

.nostril-right {
    width: 1px;
    height: 1px;
    background-color: rgb(249, 29, 147);
    position: absolute;
    top: 2px;
    left: 3px;
}

.moco {
    position: absolute;
    background-color: rgb(4, 108, 4);
    top: 3px;
    left: 3px;
    width: 1px;
    height: 2px;
}

.pig-body {
    background-color: rgb(232, 76, 154);
    width: 24px;
    height: 13px;
    top: -4px;
    left: 3px;
    position: relative;
}

.pig-tail {
    background-color: black;
    width: 2px;
    height: 1px;
    left: 24px;
    top: 1px;
    position: relative;
}

.legs {
    width: 24px;
    height: 24px;
    position: relative;
}

.feet {
    background-color: rgb(232, 76, 154);
    width: 6px;
    height: 6px;
    position: absolute;
}

.left-feet {
    top: -4px;
    left: 4px;
    position: absolute;
}

.right-feet {
    top: -4px;
    left: 20px;
    position: absolute;
}